<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktail App</title>
    <meta name="description" content="Cocktail, shot, drink recipes">
    <meta name="author" content="Serge Vitali">
    <meta name="keywords" content="Cocktail, ordinary drink, shot, alcoholic, no-alcoholic, gin, vodka, tequile, rum">
    <meta property="og:title" content="Cocktail App" />
	<meta property="og:type" content="Cocktail" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="images/cocktail.jpg" />
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <button onclick="topFunction()" id="myBtn" class="d-print-none" title="Go to top">Top</button>
   