
<div class="text-center">
    <h1><a href="/">Letz Cocktail</a></h1>
</div>
<nav id="navbar" class="navbar navbar-expand-md sticky-top navbar-light bg-light mx-2 px-0 pt-2">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <div class="navbar-nav">
            <a class="nav-link px-0" id="try-button" href="/random-drinks">Try Me!</a>
        </div>
    <ul class="navbar-nav ml-auto mt-lg-0">
        <li class="nav-item">
        <a class="nav-link navbar-elements" href="/">HOME</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link navbar-elements dropbtn dropdown-toggle" data-toggle="dropdown">
              INGREDIENTS
            </a>
            <div class="dropdown-content dropdown-menu">
              <a class="navbar-elements dropdown-item" href="/drinks/ingredients/gin">Gin</a>
              <div class="dropdown-divider"></div>
              <a class="navbar-elements dropdown-item" href="/drinks/ingredients/vodka">Vodka</a>
              <div class="dropdown-divider"></div>
              <a class="navbar-elements dropdown-item" href="/drinks/ingredients/tequila">Tequila</a>
              <div class="dropdown-divider"></div>
              <a class="navbar-elements dropdown-item" href="/drinks/ingredients/rum">Rum</a>
              <div class="dropdown-divider"></div>
              <a class="navbar-elements dropdown-item" href="/drinks/ingredients/brandy">Brandy</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link navbar-elements dropbtn dropdown-toggle" data-toggle="dropdown">
              CATEGORY
            </a>
            <div class="dropdown-content dropdown-menu">
              <a class="navbar-elements dropdown-item" href="/drinks/category/non-alcoholic">Non-Alcoholic</a>
              <div class="dropdown-divider"></div>
              <a class="navbar-elements dropdown-item" href="/drinks/category/shot">Shot</a>
              <div class="dropdown-divider"></div>
              <a class="navbar-elements dropdown-item" href="/drinks/category/ordinary-drink">Ordinary Drink</a>
              <div class="dropdown-divider"></div>
              <a class="navbar-elements dropdown-item" href="/drinks/category/cocktail">Cocktail</a>
            </div>
        </li>
    </ul>
    </div>
    <form class="form-inline pt-2 pt-md-0" onsubmit="return false">
      <input id="search-bar" class=" ml-md-2 form-control" type="text" autocomplete="off" placeholder="Search in this page">
  </form>      
  </nav>
  
